* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 215, 215);
}

.column_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 40px 0;
    height: fit-content;
    background-color: cornflowerblue;
    border-radius: 1.5em;
}

h2 {
    margin: 60px 60px 20px 60px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
}

form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.btn {
    border: none;
    border-radius: 1.5em;
    background-color: rgb(216, 215, 215);
    width: fit-content;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 4px 4px 2px rgb(0,0,0,.2);
    color: black;
    cursor: pointer;
}

.form_btn {
    margin-top: 20px;
    margin-bottom: 40px;
    align-self: flex-end;
}

.textbox {
    border-radius: 1.5em;
    border: none;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgb(0,0,0,.2);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
}

.navlinks {
    margin: 40px;
}

.navlinks ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navlinks ul li {
    margin: 0 10px;
}

.nav_header {
    margin: 40px;
    color: black;
}

.content {
    background-color: rgb(216, 215, 215);
    display: flex;
    flex-direction: column;
    margin: 40px;
}

table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: cornflowerblue;
}

thead tr th:first-child {
    border-top-left-radius: 1.5em;
}

thead tr th:last-child {
    border-top-right-radius: 1.5em;
    text-align: left;
}

tbody {
    background-color: rgb(236, 236, 236);
}

th, td {
    padding: 10px;
}

.list_btn {
    background-color: cornflowerblue;
    margin: 0 10px 0 0;
}

.buttons {
    display: flex;
    width: fit-content;
}

h3 {
    margin: 20px 0;
}

.form_with_columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form_column {
    width: 30%;
}

textarea {
    height: 6em;
}

.add_btn {
    background-color: cornflowerblue;
}

.radio_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.under_thirty_p {
    text-align: center;
    margin: 20px 0;
}

.radio_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio_btn {
    margin: 0 10px;
}

.error_box {
    border: solid 2px red;
    border-radius: 1.5em;
    background-color: rgb(255, 133, 133);
    padding: 10px 20px;
    margin: 0 60px;
}

.error_box p {
    color: red;
}